@font-face {font-family: "iconfont";
  src: url('~@/static/iconfont.ttf') format('truetype'); /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 50upx;
  font-style: normal;
  color: #999999;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-jiu_:before {
  content: "\e623";
}

.icon-jiupin:before {
  content: "\e625";
}

.icon-tupian:before {
  content: "\e628";
}

.icon-suo:before {
  content: "\e657";
}

.icon-wenhao:before {
  content: "\e64e";
}

.icon-jingshigantanhao2:before {
  content: "\e7f4";
}

.icon-vip-tianchong:before {
  content: "\e67d";
}

.icon-zuanshi:before {
  content: "\e64a";
}

.icon-xiangji:before {
  content: "\e61f";
}

.icon-take-out:before {
  content: "\e724";
}

.icon-waimai:before {
  content: "\edfe";
}

.icon-waimai-:before {
  content: "\e609";
}

.icon-circleyuanquan:before {
  content: "\e71e";
}

.icon-shijian00:before {
  content: "\e6ce";
}

.icon-icon2:before {
  content: "\e61e";
}

.icon-zhengque:before {
  content: "\e627";
}

.icon-tuikuan:before {
  content: "\e64c";
}

.icon-cs-yh-1:before {
  content: "\e63d";
}

.icon-shouji:before {
  content: "\e604";
}

.icon-jiubei:before {
  content: "\e603";
}

.icon-jiubei1:before {
  content: "\e613";
}

.icon-jiu:before {
  content: "\e61d";
}

.icon-jiubei2:before {
  content: "\e60c";
}

.icon-ziyuan:before {
  content: "\e6a2";
}

.icon-shanchu:before {
  content: "\e614";
}

.icon-paixu:before {
  content: "\e700";
}

.icon-VIP1:before {
  content: "\e61b";
}

.icon-xingji:before {
  content: "\e626";
}

.icon-xingji1:before {
  content: "\e761";
}

.icon-xiugai1:before {
  content: "\e612";
}

.icon-xiugai:before {
  content: "\e610";
}

.icon-weixin:before {
  content: "\e620";
}

.icon-zhifubao:before {
  content: "\e608";
}

.icon-shenglvehao:before {
  content: "\e708";
}

.icon-gouwuchekong:before {
  content: "\e602";
}

.icon-kefu:before {
  content: "\e60f";
}

.icon-shoucang:before {
  content: "\e666";
}

.icon-lujing:before {
  content: "\e621";
}

.icon-data_down:before {
  content: "\e672";
}

.icon-shouhuodizhi:before {
  content: "\e60e";
}

.icon-dingwei:before {
  content: "\e619";
}

.icon-shuaxin:before {
  content: "\e72a";
}

.icon-ditu:before {
  content: "\e607";
}

.icon-sanjiao2:before {
  content: "\e601";
}

.icon-triangle-bottom:before {
  content: "\e62b";
}

.icon-triangle-left:before {
  content: "\e67e";
}

.icon-sanjiao_xia:before {
  content: "\e631";
}

.icon-sanjiaoshang:before {
  content: "\e643";
}

.icon-sanjiaoyou:before {
  content: "\e645";
}

.icon-fanhui:before {
  content: "\e65c";
}

.icon-tubiao11:before {
  content: "\e60b";
}

.icon-sousuo:before {
  content: "\e63c";
}

.icon-loc-s:before {
  content: "\e655";
}

.icon-saoyisao:before {
  content: "\e7d0";
}

.icon-mima:before {
  content: "\e62d";
}

.icon-gongzuozheng:before {
  content: "\e6e4";
}

.icon-jurassic_version:before {
  content: "\e695";
}

.icon-huaban:before {
  content: "\e61a";
}

.icon-laba1:before {
  content: "\e60d";
}

.icon-xingzhuang:before {
  content: "\e61c";
}

.icon-dianhua:before {
  content: "\e62f";
}

.icon-location:before {
  content: "\e611";
}

.icon-shizhong:before {
  content: "\e78b";
}

.icon-icon_dianhua:before {
  content: "\e617";
}

.icon-VIP:before {
  content: "\e64b";
}

.icon-jiantou:before {
  content: "\e618";
}

.icon-wuliu2:before {
  content: "\e70e";
}

.icon-tubiaozhuxingtu:before {
  content: "\e81d";
}

.icon-jishiben:before {
  content: "\e616";
}

.icon-xiazai:before {
  content: "\e629";
}

.icon-laba:before {
  content: "\e649";
}

.icon-bingtu:before {
  content: "\e6cd";
}

.icon-shezhi:before {
  content: "\e644";
}

.icon-tubiaolunkuo-:before {
  content: "\e615";
}

.icon-shezhi1:before {
  content: "\e654";
}

.icon-cuxiaohuodong-xiangouhuodong:before {
  content: "\e600";
}

.icon-8:before {
  content: "\e624";
}

.icon-gongwenbao:before {
  content: "\e74f";
}

.icon-rili:before {
  content: "\e75b";
}

